<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>Subscribe</title>
</head>
<body>
    <nav style="display: flex;">
        <ul style="display: flex; list-style: none;">
            <li style="margin-right: 10px; margin-left: 200px;"><a href="/">Home</a></li>
            <li style="margin-right: 10px;"><a href="/about">About</a></li>
            <li style="margin-right: 10px;"><a href="/contact">Contact</a></li>
            <li style="margin-right: 10px;"><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
        </ul>
    </nav>
    <h1>Subscribe</h1>
    <p>If you subscribe to our shop, we will send you a free new product every month! You will also get a coupon for 50% that you can use twice a month as well as 15% off all of our products</p>
</body>
</html>